In [2]:
import numpy as np
import pandas as pd

In [4]:
dataset = pd.read_csv('insurance_pre.csv')

In [5]:
dataset.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [6]:
dataset = pd.get_dummies(dataset, drop_first=True)

In [8]:
dataset.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400     False        True
1   18  33.770         1   1725.55230      True       False
2   28  33.000         3   4449.46200      True       False
3   33  22.705         0  21984.47061      True       False
4   32  28.880         0   3866.85520      True       False

In [9]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [10]:
independent = dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent = dataset['charges']

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size=0.2, random_state=0)

In [ ]:
from sklearn.model_selection import GridSearchCV

from sklearn.svm import SVR

param_grid={'kernel': ['rbf', 'sigmoid', 'linear'],
                                        'C': [10, 100, 1000, 2000, 3000],
                                        'gamma': ['auto', 'scale']}

grid  = GridSearchCV(SVR(), param_grid=param_grid, refit=True, verbose=3, n_jobs=-1)
# fitting the model for gid search
grid.fit(X_train, y_train)

Fitting 5 folds for each of 40 candidates, totalling 200 fits

In [ ]:
# print best parameter after tuning
# print(grid.best_params_)
re = grid.cv_results_
print(re)

grid_predictions = grid.predict(X_test)

# print classification report
from sklearn.metrics import r2_score
r2_score=r2_score(y_test, grid_predictions)

print("The R_score value for best parameter {}:".format(grid.best_params_), r2_score)

In [ ]:
table = pd.DataFrame.from_dict(re)

In [ ]:
table.head()

-0.08711945386341768

In [ ]:
age_input = float(input("Age: "))
bmi_input = float(input("BMI: "))
children_input = float(input("Children:"))
sex_male_input = int(input("Sex Male 0 or 1:"))
smoker_yes_input = int(input("Smoker Yes 0 or  1:"))

In [ ]:
Future_Prediction=grid.predict([[age_input, bmi_input, children_input, sex_male_input, smoker_yes_input]]) # change the parameters according to your need
print("The future prediction for the charges is: ", Future_Prediction)